*{
    margin:0;
    padding:0;
    font-family:"Lantinghei SC";
}
body{
    background-color:#f1f1f1;
}
a{
	text-decoration:none;
}
.container{
	width:1000px;
	margin:0 auto;
}
.catalogue{
	line-height:64px;
}
.catalogue a{
	color:#747474;
}
.header{
	height:100px;
	background-image:url("img/nav.png");
	background-size: 1000px 100px;
}
.header h1{
	font-size:24px;
	color:#8a6d3b;
	padding:13px 0 0 26px;
}
.header p{
	font-size:14px;
	color:#666666;
	padding:6px 26px 0 26px;
}
.cover, .cover img{
	width:1000px;
	height:560px;
}
.index{
	height:84px;
	line-height:84px;
	background-color:#101213;
}
.index .left{
	width:50%;
	float:left;
}
.index .left a{
	padding-left:38px;
	font-size:14px;
	color:#1abc9c;
}
.index .right{
    width:260px;
    height:40px;
    float:right;
    position:relative;
    margin-right:85px;
	margin-top:22px;
}
.index .right a{
	display:block;
	float:left;
	margin:0 6px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background-color:#1d1d1d;
}
.index .right a:hover{
	width:36px;
	height:36px;
	line-height:36px;
	border:2px solid #29bb9c;
}

.info{
	margin-top:20px;
}
.info_left{
	width:250px;
    height:auto;
    float:left;
}
.course{
	padding:20px;
	background-color:#fff;
}
.course .title{
	color:#19253a;
    font-size:16px;
    line-height:50px;
}
.course .time{
    font-size:14px;
    color:#727272;
    line-height:50px;
}
.course .content{
	font-size:14px;
    color:#727272;
    padding-bottom:20px;
}
.course .action{
	display:block;
	width:210px;
    height:45px;
	line-height:45px;
	text-align:center;
    background-color:#b8b8b8;
	border-radius:5px;
	margin-top:10px;
	color:#fff;
	font-weight:700;
}
.course .selected{
    background:#fc6621;
}
.teacher{
	width:210px;
    height:auto;
	padding:20px;
    margin-top:20px;
    background-color:#fff;
}
.teacher .image{
	margin:0 auto;
    width:150px;
    height:150px;
    border-radius:75px;
	overflow:hidden;
}
.teacher .image img{
	width:150px;
	height:auto;
}
.teacher .name{
	font-size:20px;
	font-weight:700;
	text-align:center;
	margin:5px auto;
}
.teacher .brief{
	color:#c1c1c1;
	font-size:14px;
}
.info_right{
	float:right;
	width:666px;
	padding:0 30px;
	background-color:#fff;
}
.list{
	width:600px;
	margin:10px auto;
}
.list li{	
	list-style-type:none;
	width:200px;
	cursor:pointer;
	font-size:24px;
	font-weight:700;
	color:#727272;
	text-align:center;
	float:left;
	margin-right:100px;
	padding-bottom:20px;
}
.list .selected{
	border-bottom:3px solid #23BA98;
	color:#19253a;
}
.list::after{
	content:'';
	display:block;
	clear:both;
	height:0;
}
.detail{
	margin-top:20px;
	margin-left:120px;
	height:50px;
	background-color:#fff;
}