<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>layout</title>
<link type='text/css' rel='stylesheet' href='layout.css' />
</head>

<body>
	<div class='container'>
    	<div class='catalogue'>
        	<a href='#'>所有课程</a>
            <a href='#'>专题</a>
            <span>iOS</span>
        </div>
        
        <div class='header'>
        	<h1>天气预报应用开发--Swift语言实战项目</h1>
            <p>这节课程是为了提供给大家一个具有建议性的学习视频。这节课程是为了提供给大家一个具有建议性的学习视频。这节课程是为了提供给大家一个具有建议性的学习视频。</p>
        </div>
        
        <div class='banner'>
            <div class='cover'>
                <img src="img/video.jpg" />
            </div>
            <div class='index'>
                <div class='left'>
                    <a href='#'>下载全部课程源码</a>
                    <a href='#'>太卡点我</a>
                </div>                
                <div class='right'>
                    <a href='#'>1</a>
                    <a href='#'>2</a>
                    <a href='#'>3</a>
                    <a href='#'>4</a>
                    <a href='#'>5</a>
                </div>
            </div>
		</div>
        
        <div class='info'>
        	<div class='info_left'>
            	<div class='course'>
                	<p class="title">
                        <strong>用Swift语言开发基于SpriteKit框架的物理引擎</strong>
                    </p>
                    <p class="time">11课时 45分钟</p>
                    <div class="content">
                        课程背景：<br />
                        1.使用Swift语言可快速进行开发<br />
                        2.SpriteKit游戏引擎室iOS专用的2D游戏引擎<br /><br />

                        核心内容：<br />
                        1.SpriteKit游戏项目创建<br />
                        2.SpriteKit中场景设计工具、 物理引擎<br /><br />

                        课程等级：中级课程<br /><br />

                        使用人群：<br />
                        1.熟悉Swift语言的开发者
                    </div>
                    <a href='#' class='action selected'>添加到我的课程</a>
                    <a href='#' class='action'>源码下载</a>
                    <a href='#' class='action'>视频下载</a>
                </div>
                <div class='teacher'>
                	<div class="image">
                        <img src="img/高圆圆10.jpg">
                    </div>
                    <div class="name">ime</div>
                    <div class="brief">
                        极客学院首席布道师，10年研发总监和讲师经验。
                    </div>
                </div>
            </div>
            <div class='info_right'>
            	<div class='list'>
                    <ul>
                        <li class='selected'><a href='#'>课程列表</a></li>
                        <li><a href='#'>课程问答</a></li>
                    </ul>
                </div>
                <div class='detail'>...</div>
            </div>
        </div>
    </div>
</body>
</html>
